@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.quiz-container{
    background-color: white;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.quiz-header{
    padding: 4rem;
}
h2{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button{
    background-color: #8e44ad;
    color: white;
    width: 100%;
    padding: 2rem;
    display: block;
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
button:hover{
    background-color: #69148d;
}
button:focus{
  outline: none;
}